<!doctype html>
<html>
<head>
    <title>IcoMoon - SVG Icons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="demo-files/demo.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-clear" viewBox="0 0 24 24">
<path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
</symbol>
<symbol id="icon-filter_list" viewBox="0 0 24 24">
<path d="M6 12.984v-1.969h12v1.969h-12zM3 6h18v2.016h-18v-2.016zM9.984 18v-2.016h4.031v2.016h-4.031z"></path>
</symbol>
<symbol id="icon-keyboard_arrow_right" viewBox="0 0 24 24">
<path d="M8.578 16.594l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z"></path>
</symbol>
<symbol id="icon-notifications_none" viewBox="0 0 24 24">
<path d="M15.984 17.016v-6q0-1.922-1.078-3.211t-2.906-1.289-2.906 1.289-1.078 3.211v6h7.969zM18 15.984l2.016 2.016v0.984h-16.031v-0.984l2.016-2.016v-4.969q0-2.344 1.195-4.078t3.305-2.25v-0.703q0-0.609 0.422-1.055t1.078-0.445 1.078 0.445 0.422 1.055v0.703q2.109 0.516 3.305 2.25t1.195 4.078v4.969zM12 21.984q-0.797 0-1.406-0.586t-0.609-1.383h4.031q0 0.797-0.609 1.383t-1.406 0.586z"></path>
</symbol>
<symbol id="icon-person" viewBox="0 0 24 24">
<path d="M12 14.016q2.531 0 5.273 1.102t2.742 2.883v2.016h-16.031v-2.016q0-1.781 2.742-2.883t5.273-1.102zM12 12q-1.641 0-2.813-1.172t-1.172-2.813 1.172-2.836 2.813-1.195 2.813 1.195 1.172 2.836-1.172 2.813-2.813 1.172z"></path>
</symbol>
<symbol id="icon-person_outline" viewBox="0 0 24 24">
<path d="M12 12.984q1.5 0 3.281 0.422t3.258 1.406 1.477 2.203v3h-16.031v-3q0-1.219 1.477-2.203t3.258-1.406 3.281-0.422zM12 3.984q1.641 0 2.813 1.195t1.172 2.836-1.172 2.813-2.813 1.172-2.813-1.172-1.172-2.813 1.172-2.836 2.813-1.195zM12 14.906q-2.063 0-4.078 0.773t-2.016 1.336v1.078h12.188v-1.078q0-0.563-2.016-1.336t-4.078-0.773zM12 5.906q-0.891 0-1.5 0.609t-0.609 1.5 0.609 1.477 1.5 0.586 1.5-0.586 0.609-1.477-0.609-1.5-1.5-0.609z"></path>
</symbol>
<symbol id="icon-credit_card" viewBox="0 0 24 24">
<path d="M20.016 8.016v-2.016h-16.031v2.016h16.031zM20.016 18v-6h-16.031v6h16.031zM20.016 3.984q0.844 0 1.406 0.586t0.563 1.43v12q0 0.844-0.563 1.43t-1.406 0.586h-16.031q-0.844 0-1.406-0.586t-0.563-1.43v-12q0-0.844 0.563-1.43t1.406-0.586h16.031z"></path>
</symbol>
<symbol id="icon-receipt" viewBox="0 0 24 24">
<path d="M3 21.984v-19.969l1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5v19.969l-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5zM18 9v-2.016h-12v2.016h12zM18 12.984v-1.969h-12v1.969h12zM18 17.016v-2.016h-12v2.016h12z"></path>
</symbol>
<symbol id="icon-search" viewBox="0 0 24 24">
<path d="M9.516 14.016q1.875 0 3.188-1.313t1.313-3.188-1.313-3.188-3.188-1.313-3.188 1.313-1.313 3.188 1.313 3.188 3.188 1.313zM15.516 14.016l4.969 4.969-1.5 1.5-4.969-4.969v-0.797l-0.281-0.281q-1.781 1.547-4.219 1.547-2.719 0-4.617-1.875t-1.898-4.594 1.898-4.617 4.617-1.898 4.594 1.898 1.875 4.617q0 0.984-0.469 2.227t-1.078 1.992l0.281 0.281h0.797z"></path>
</symbol>
</defs>
</svg>

<header class="bgc1 clearfix">
<div class="mhl">
    <p>SVG Icons - Generated by <a href="https://icomoon.io/app">IcoMoon</a></p>
</div>
</header>
    <div class="clearfix mhl ptl">
        <h1 class="mvm mtn fgc1">Grid Size: 24</h1>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-clear"><use xlink:href="#icon-clear"></use></svg><span class="name"> icon-clear</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-filter_list"><use xlink:href="#icon-filter_list"></use></svg><span class="name"> icon-filter_list</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-keyboard_arrow_right"><use xlink:href="#icon-keyboard_arrow_right"></use></svg><span class="name"> icon-keyboard_arrow_right</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-notifications_none"><use xlink:href="#icon-notifications_none"></use></svg><span class="name"> icon-notifications_none</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-person"><use xlink:href="#icon-person"></use></svg><span class="name"> icon-person</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-person_outline"><use xlink:href="#icon-person_outline"></use></svg><span class="name"> icon-person_outline</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-credit_card"><use xlink:href="#icon-credit_card"></use></svg><span class="name"> icon-credit_card</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-receipt"><use xlink:href="#icon-receipt"></use></svg><span class="name"> icon-receipt</span>
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix pbs">
                <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg><span class="name"> icon-search</span>
            </div>
        </div>
  </div>
<script defer src="svgxuse.js"></script>
</body>
</html>
